# unignore previously ignored data folder
!data

# ignore raw data folders
data/csv_daily/Bitcoin/*
data/csv_dumps/Bitcoin/*
data/csv_daily/ETH/*
data/csv_dumps/ETH/*
data/csv_daily/Ripple/*
data/csv_dumps/Ripple/*
data/coin_tweets/*
data/VADER/csv_daily/Bitcoin/*
data/VADER/csv_daily/ETH/*
data/VADER/coin_tweets/Bitcoin/*
data/VADER/coin_tweets/ETH/*
data/price_data/*

# unignore .gitkeeps to keep folder structure
!data/csv_daily/Bitcoin/.gitkeep
!data/csv_dumps/Bitcoin/.gitkeep
!data/csv_daily/ETH/.gitkeep
!data/csv_dumps/ETH/.gitkeep
!data/csv_daily/Ripple/.gitkeep
!data/csv_dumps/Ripple/.gitkeep
!data/coin_tweets/.gitkeep
!data/VADER/csv_daily/Bitcoin/.gitkeep
!data/VADER/csv_daily/ETH/.gitkeep
!data/VADER/coin_tweets/Bitcoin/.gitkeep
!data/VADER/coin_tweets/ETH/.gitkeep
!data/price_data/.gitkeep

.DS_Store
.ipynb_checkpoints/